.gradle
/build/
/out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

/src/main/resources/config/application*.yml
/application*.yml

/log
/logs

/node_modules
/npm-debug.log
/yarn-error.log

/uploads
